.container {
    margin: 0 auto;
    padding: 30px 0;
    background-color: #F0EDFA;
    height: 1000px;
    width: 500px;
}

.left-line {
    border-left: 2px solid rgb(0, 0, 0, 0.2);
    height: 100%;
    width: 98%;
    margin-left: 25px;
    /* margin: 10px 0 0 10px; */
}