.wrap-box {
    margin: 0 auto;
    padding: 30px 0;
    background-color: #F0EDFA;
    min-height: 900px;
    width: 100%;
}

.left-line {
    border-left: 2px solid rgb(0, 0, 0, 0.2);
    min-height: inherit;
    width: 80%;
    margin-left: 50px;    
}